{
    "Version": "2012-10-17",
    "Statement": [
        {
    
            "Effect": "Allow",
            "Action": [
                "iam:ListGroups",
                "iam:ListUsers",
                "iam:ListPolicies",
                "iam:ListGroupPolicies",
                "iam:ListAttachedGroupPolicies",
                "iam:ListUserPolicies",
                "iam:ListGroupsForUser",
                "iam:GetGroup",
                "iam:GetUser",
                "iam:ListAccessKeys",
                "iam:CreateAccessKey",
                "iam:UpdateAccessKey",
                "iam:DeleteAccessKey"

            ],
            
           

            "Resource": [
                "arn:aws:iam::*:user/Elta-dev",
                "arn:aws:iam::*:user/Akshata-dev",
                "arn:aws:iam::*:user/Pranay-dev",
                "arn:aws:iam::*:user/Chaithanya-dev",
                "arn:aws:iam::*:user/Soorya-dev",
                "arn:aws:iam::*:group/developers"
            ]
        
        },

        {
            "Sid": "ListUsersAndGroupsForConsole",
            "Effect": "Allow",
            "Action":[
                "iam:ListUsers",
                "iam:ListGroups",
                "iam:ListPolicies",
                "iam:ListRoles",
                "iam:GetRole",
                "iam:GetInstanceProfile",
                "iam:GetUser",
                "iam:ListRolePolicies",
                "iam:ListAttachedRolePolicies",
                "sts:GetCallerIdentity",
                "iam:ListInstanceProfilesForRole",
                "iam:*"



            ],
            "Resource":"arn:aws:iam::*:*"
        }

        
    ]
}
